<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="sample/header :: linkcss"></div>
    <title>Login</title>
</head>
<body>
<div class="container">
    <form class=".container" method="post" th:action="@{/login}">
        <h3 class="text-center">Форма входа</h3>
        <div class="form-group">
            <label for="username">Логин</label>
            <input class="form-control item" id="username" name="username" pattern="^[a-zA-Z0-9_.-]*$" placeholder="Логин"
                   required type="text">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input class="form-control item" id="password" name="password" placeholder="Пароль" required
                   type="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт</button>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" role="button" th:href="@{/registration}">Регистрация</a>
        </div>
    </form>
</div>
</body>
</html>