<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class=".container">
        <form th:action="@{/registration}" th:method="POST" th:object="${userForm}">

            <label for="login">Login</label>
            <input id="login" th:field="*{login}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('login')}" th:text="${err}"/>
            </ul>

            <label for="password">Password</label>
            <input id="password" th:field="*{password}" type="password"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
            </ul>

            <label for="name">name</label>
            <input id="name" th:field="*{client.name}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.name')}" th:text="${err}"/>
            </ul>

            <label for="surname">surname</label>
            <input id="surname" th:field="*{client.surname}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.surname')}" th:text="${err}"/>
            </ul>

            <label for="telegramName">telegramName</label>
            <input id="telegramName" th:field="*{client.telegramName}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.telegramName')}" th:text="${err}"/>
            </ul>

            <label for="phoneNumber">phoneNumber</label>
            <input id="phoneNumber" th:field="*{client.phoneNumber}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.phoneNumber')}" th:text="${err}"/>
            </ul>

            <button type="submit">Registration</button>
        </form>
    </div>
</div>

</body>
</html>