<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="sample/header :: linkcss"></div>
    <title>Available applications</title>
</head>
<body>
<div th:replace="sample/header :: navbar">

</div>
<div class=".container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Client</th>
            <th scope="col">BrandCar</th>
            <th scope="col">Receipt</th>
            <th scope="col">Return</th>
            <th scope="col">Status</th>
            <th scope="col">Link</th>
        </tr>
        <div th:each="order: ${orders}">
            <tr>
                <th class="col"><p th:text="*{order.client.name}">Client </p></th>
                <th class="col"><p th:text="*{order.car.brand}">Brand </p></th>
                <th class="col"><p th:text="*{order.receiptTime}">Receipt </p></th>
                <th class="col"><p th:text="*{order.carReturnTime}">Return </p></th>
                <th class="col"><p th:text="*{order.status}">Status </p></th>
                <th class="col"><a th:href="@{/order/{id}(id=${order.getId()})}">Link</a></th>
            </tr>
        </div>

        </thead>
    </table>
</div>
</body>
</html>