<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="sample/header :: linkcss">
    </div>
    <title>Creating an Order</title>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class="row">
        <form th:action="@{/order/addOrder}" th:method="POST" th:object="${order}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Model</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                </tr>
                <tr>
                    <th class="col"><a th:text="${order.getCar().getModel()}">Model </a></th>
                    <th class="col"><a th:text="${order.getCar().getBrand()}">Brand </a></th>
                    <th class="col"><a th:text="${order.getCar().getColor()}">Color </a></th>
                    <th class="col"><a th:text="${order.getCar().getPrice()}">Price </a></th>
                </tr>
                </thead>
            </table>

            <input id="client" th:field="*{client}" th:value="${order.client}" type="hidden">
            <input id="car" th:field="*{car}" th:value="${order.car}" type="hidden">
            <input id="status" th:field="*{status}" th:value="${order.status}" type="hidden">
            <div class="form-floating">
                <input class="form-control" id="receiptTime1" placeholder="Password" th:field="*{receiptTime}"
                       type="datetime-local"/>
                <label for="receiptTime1">Choose a time convenient for you to pick up the car</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="carReturnTime" placeholder="Password" th:field="*{carReturnTime}"
                       type="datetime-local"/>
                <label for="carReturnTime">Choose a time convenient for you to pick up the car</label>
            </div>
            <button class="btn btn-outline-primary" type="submit">Creating an Order</button>
        </form>
    </div>
</div>
</body>
</html>