<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="sample/header :: linkcss">
    </div>
    <title>Order</title>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class=".container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Brand Car</th>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
            </tr>
            <tr>
                <th class="col"><a th:text="${order.car.brand}">Brand </a></th>
                <th class="col"><a th:text="${order.client.getName()}">Name </a></th>
                <th class="col"><a th:text="${order.getStatus()}">Status </a></th>
                <th class="col"><a th:text="${order.getCreatedOn()}">Time </a></th>
            </tr>
            </thead>
        </table>

        <div sec:authorize="hasAnyAuthority('admin', 'manager')">
            <form th:action="@{/order/update/{id}(id=${order.getId()})}" th:method="get">
                <button class="btn btn-primary" type="submit">Update Order</button>
            </form>
        </div>

        <div sec:authorize="hasAnyAuthority('admin', 'manager')">
            <form th:action="@{/order/delete/{id}(id=${order.getId()})}" th:method="delete">
                <button class="btn btn-primary" type="submit">Delete Order</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>