<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Orders</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar"></div>

<div class="container">
    <div class=".container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Car Model</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Price</th>
                <th scope="col">Status</th>
            </tr>
            <tr th:each="order: ${orderList}">
                <th class="col">
                    <a th:text="${order.getCar().getModel()}">Car</a>
                </th>
                <th class="col">
                    <a th:text="${order.getCar().getBrand()}">Brand</a>
                </th>
                <th class="col">
                    <a th:text="${order.getCar().getPrice()}">Car</a>
                </th>
                <th class="col">
                    <a th:text="${order.getStatus()}">Status</a>
                </th>
            </tr>
            </thead>
        </table>

</body>
</html>