<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update order</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class=".container">
        <form th:action="@{/order/update}" th:method="patch" th:object="${updateOrder}">

            <input th:field="*{id}" th:value="*{id}" type="hidden"/>

            <label for="client">client</label>
            <p id="client" th:text="*{client}"/>

            <label for="car">car</label>
            <p id="car" th:text="*{car}"/>

            <input th:field="*{client}" th:value="*{client}" type="hidden">
            <input th:field="*{car}" th:value="*{car}" type="hidden">


            <input th:field="*{receiptTime}" th:value="*{receiptTime}" type="hidden">
            <input th:field="*{carReturnTime}" th:value="*{carReturnTime}" type="hidden">
            <input th:field="*{createdOn}" th:value="*{createdOn}" type="hidden">
            <input th:field="*{lastUpdatedOn}" th:value="*{lastUpdatedOn}" type="hidden">

            <label for="role">Role</label>
            <select id="role" th:field="*{status}">
                <option th:each="stat : ${orderStatus}"
                        th:text="${stat.name()}"
                        th:value="${{stat}}">
                    Cinema
                </option>
            </select>

            <button class="btn btn-primary" type="submit">Update Order</button>
        </form>
    </div>
</div>

</body>
</html>