<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="sample/header :: linkcss">
    </div>
    <title>Users</title>
</head>
<body>
<div th:replace="sample/header :: navbar">

</div>


<div class="container">
    <div class=".container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">login</th>
                <th scope="col">password</th>
                <th scope="col">role</th>
            </tr>
            <tr th:each="user : ${users}">
                <th class="col">
                    <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getLogin()}">login</a>
                </th>
                <th class="col">
                    <a th:text="${user.getPassword()}">Brand</a>
                </th>
                <th class="col">
                    <a th:text="${user.getRole()}">Car</a>
                </th>
                <th class="col">
                    <a th:if="${user.getRole().name().equals(client)}">link</a>
                </th>
            </tr>
            </thead>
        </table>

        <a class="btn btn-primary" role="button" th:href="@{/user/new}">Add User</a>

    </div>
</div>

</body>
</html>