<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class=".container">
        <form th:action="@{/user/add}" th:method="POST" th:object="${newUser}">

            <input id="login" th:field="*{login}" th:value="*{login}" type="hidden"/>

            <input id="password" th:field="*{password}" th:value="*{password}" type="hidden"/>

            <input id="role" th:field="*{role}" th:value="*{password}" type="hidden">

            <label for="name">name</label>
            <input id="name" th:field="*{client.name}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.name')}" th:text="${err}"/>
            </ul>

            <label for="surname">surname</label>
            <input id="surname" th:field="*{client.surname}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.surname')}" th:text="${err}"/>
            </ul>

            <label for="telegramName">telegramName</label>
            <input id="telegramName" th:field="*{client.telegramName}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.telegramName')}" th:text="${err}"/>
            </ul>

            <label for="phoneNumber">phoneNumber</label>
            <input id="phoneNumber" th:field="*{client.phoneNumber}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('client.phoneNumber')}" th:text="${err}"/>
            </ul>

            <button class="btn btn-primary" type="submit">Add User</button>
        </form>
    </div>
</div>

</body>
</html>