<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="sample/header :: linkcss">
    </div>
    <title>User</title>
</head>
<body>
<div th:replace="sample/header :: navbar">

</div>

<div class="container">
    <div class=".container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">login</th>
                <th scope="col">password</th>
                <th scope="col">role</th>
            </tr>
            <tr>
                <th class="col"><a th:text="${user.getLogin()}">Brand </a></th>
                <th class="col"><a th:text="${user.getPassword()}">Model </a></th>
                <th class="col"><a th:text="${user.getRole()}">Color </a></th>
            </tr>
            </thead>
        </table>

        <form th:action="@{/user/update/{id}(id=${user.getId()})}" th:method="get">
            <button class="btn btn-primary" type="submit">Update User</button>
        </form>

        <form th:action="@{/user/delete/{id}(id=${user.getId()})}" th:method="delete">
            <button class="btn btn-primary" type="submit">Delete User</button>
        </form>
    </div>
</div>

</body>
</html>