<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class=".container">
        <form th:action="@{/user/update}" th:method="patch" th:object="${updateUser}">

            <input th:field="*{id}" th:value="*{id}" type="hidden"/>

            <label for="login">login</label>
            <input id="login" th:field="*{login}" th:value="*{login}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('login')}" th:text="${err}"/>
            </ul>

            <label for="password">password</label>
            <input id="password" th:field="*{password}" th:value="*{password}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
            </ul>

            <label for="role">Role</label>
            <select id="role" th:field="*{role}">
                <option th:each="role : ${roles}"
                        th:text="${role.name()}"
                        th:value="${{role}}">
                    Cinema
                </option>
            </select>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('role')}" th:text="${err}"/>
            </ul>

            <button class="btn btn-primary" type="submit">Update User</button>
        </form>
    </div>
</div>

</body>
</html>