<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Park</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar">

</div>
<div class="container">
    <div class=".container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Brand</th>
                <th scope="col">Color</th>
                <th scope="col">Price</th>
            </tr>
            <tr th:each="car: ${cars}">
                <th class="col">
                    <a th:href="@{/car/{id}(id=${car.getId()})}" th:text="${car.getModel()}">Car</a>
                </th>
                <th class="col">
                    <a th:text="${car.getBrand()}">Brand</a>
                </th>
                <th class="col">
                    <a th:text="${car.getColor()}">Car</a>
                </th>
                <th class="col">
                    <a th:text="${car.getPrice()}">Price</a>
                </th>
            </tr>
            </thead>
        </table>
        <div sec:authorize="hasAnyAuthority('admin', 'manager')">
            <a class="btn btn-primary" role="button" th:href="@{/car/new}">Add Car</a>
        </div>

    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>