<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add car</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar">
</div>
<div class="container">
    <div class=".container">
        <form th:action="@{/car/add}" th:method="POST" th:object="${newCar}">

            <label for="brand">Brand</label>
            <input id="brand" th:field="*{brand}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('brand')}" th:text="${err}"/>
            </ul>

            <label for="model">Model</label>
            <input id="model" th:field="*{model}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('model')}" th:text="${err}"/>
            </ul>

            <label for="color">Color</label>
            <input id="color" th:field="*{color}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('color')}" th:text="${err}"/>
            </ul>

            <label for="number">Number</label>
            <input id="number" th:field="*{number}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('number')}" th:text="${err}"/>
            </ul>

            <label for="price">Price</label>
            <input id="price" th:field="*{price}" type="text"/>
            <ul>
                <li class="error" th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
            </ul>

            <button class="btn btn-primary" type="submit">Add Car</button>
        </form>
    </div>
</div>

</body>
</html>