<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Park</title>
    <div th:replace="sample/header :: linkcss">
    </div>
</head>
<body>
<div th:replace="sample/header :: navbar"></div>

<div class="container">
    <div class=".container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Model Car</th>
                <th scope="col">Brand Car</th>
                <th scope="col">Color Car</th>
                <th scope="col">Number</th>
                <th scope="col">Price</th>
            </tr>
            <tr>
                <th class="col"><a th:text="${car.getBrand()}">Brand </a></th>
                <th class="col"><a th:text="${car.getModel()}">Model </a></th>
                <th class="col"><a th:text="${car.getColor()}">Color </a></th>
                <th class="col"><a th:text="${car.getNumber()}">Number </a></th>
                <th class="col"><a th:text="${car.getPrice()}">Price </a></th>
            </tr>
            </thead>
        </table>

        <div sec:authorize="hasAnyAuthority('client')">
            <form th:action="@{/order/new}" th:method="get" th:object="${car}">
                <input id="brand" th:field="*{id}" th:value="car.id" type="hidden">
                <button class="btn btn-primary" type="submit">Add Orders</button>
            </form>
        </div>

        <div sec:authorize="hasAnyAuthority('admin', 'manager')">
            <form th:action="@{/car/update/{id}(id=${car.getId()})}" th:method="get">
                <button class="btn btn-primary" type="submit">Update Car</button>
            </form>
        </div>

        <div sec:authorize="hasAnyAuthority('admin', 'manager')">
            <form th:action="@{/car/delete/{id}(id=${car.getId()})}" th:method="delete">
                <button class="btn btn-primary" type="submit">Delete Car</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>